.header {
   background-color: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
   padding: 20px 0; /* Increased padding for height */
   position: sticky;
   top: 0;
   z-index: 50;
 }
 
 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px; /* Adjust for side padding */
 }
 
 .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 
 .logo {
   font-size: 1.8rem; /* Increased font size */
   font-weight: bold;
   text-decoration: none;
   color: #000;
 }
 
 .navList {
   list-style: none;
   display: flex;
   gap: 80px; /* Increased gap for more spacing */
   margin: 0;
   padding: 0;
 }
 
 
 .navLink {
   text-decoration: none;
   font-size: 1.2rem; /* Increased font size */
   color: #000;
   transition: color 0.3s;
 }
 
 .navLink:hover {
   color: #007BFF; /* Highlight color on hover */
 }
 

